@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
}

:root {
    --soft-whiteblue: rgb(139, 172, 218);
    --cyan: rgb(0, 255, 247);
    --dark-blue: rgb(13, 25, 43);
    --middleblue: rgb(20, 37, 61);
    --soft-blue: rgb(47, 65, 91);
    --white: rgb(255, 255, 255);
}
